<!-- 文章列表 -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <style type="text/css">
        li{
            list-style: none;
        }
    </style>
</head>
<body>
    <ul id="article-list">
        <li id="article-title" th:each="article:${list}"  th:text="${article.articleTitle}"></li>
    </ul>
    <script type="text/javascript"  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript">
        $('#article-list').children(this).unbind('click').on('click',function () {
            var articleTitle = $(this).html();
            window.location.href = "/"+articleTitle;
        })
    </script>
</body>
</html>